.login-card-title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login-card-section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
/* eecbc5  */
.login-card-student{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #eecbc5 100%);
}