
.student-scanner {
    width: 300px;
    margin: 0 auto;
    display: block;
}
/* .login-card{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #b0d3f6 100%);
} */
/* b0d3f6 */
body{
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
}
.btn-primary{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}